<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h2>Formulario de Registro</h2>
    <form id="register-form">
        <div>
            <label for="username" require>Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password" require>Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="type" require>Tipo de usuario:</label>
            <select id="type" name="type" required>
                <option value="technician">Técnico</option>
                <option value="user">Usuario</option>
            </select>
        </div>
        <div>
            <button type="submit">Registrarse</button>
            <button onclick="goToLogin()">Login</button>
        </div>
    </form>

    <script>
        document.getElementById('register-form').addEventListener('submit', async (event) => {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const type = document.getElementById('type').value;

            const userData = {
                username,
                password,
                type
            };

            try {
                const response = await fetch('/api/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(userData)
                });

                const result = await response.json();

                if (response.ok) {
                    alert('Usuario registrado exitosamente');
                    window.location.href = '/login';
                } else {
                    alert('Error: ' + result.error);
                }
            } catch (error) {
                alert('Hubo un error al registrar el usuario');
                console.error(error);
            }
        });

        function goToLogin() {
            window.location.href = '/login';
        }
    </script>
</body>
</html>
